﻿<h2>Signup</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.firstName.errors }" />
        <div *ngIf="submitted && validate.firstName.errors" class="invalid-feedback">
            <div *ngIf="validate.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.lastName.errors }" />
        <div *ngIf="submitted && validate.lastName.errors" class="invalid-feedback">
            <div *ngIf="validate.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.username.errors }" />
        <div *ngIf="submitted && validate.username.errors" class="invalid-feedback">
            <div *ngIf="validate.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }" />
        <div *ngIf="submitted && validate.password.errors" class="invalid-feedback">
            <div *ngIf="validate.password.errors.required">Password is required</div>
            <div *ngIf="validate.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="signupForm.invalid"  class="btn btn-primary">Register</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>
