﻿<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.username.errors }" />
        <div *ngIf="submitted && validate.username.errors" class="invalid-feedback">
            <div *ngIf="validate.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }" />
        <div *ngIf="submitted && validate.password.errors" class="invalid-feedback">
            <div *ngIf="validate.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>
